<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming community/buying</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <section>
        <div class="header">
            <i class="fa fa-th-large" id="falarge" aria-hidden="true" onclick="Hamburger_menu_show()"></i>
            <i class="fa fa-times" id="fatimes" aria-hidden="true" onclick="Hamburger_menu_close()"></i>
            <div>
                <a href="">privacy policy</a>
            </div>
        </div>
        <div class="body">
            <header>
                <h1>Skillz Gaming Community</h1>
                <div class="search">
                    <input type="search" name="search" id="">
                    <input type="submit" value="search">
                </div>
                <div class="user_detail">
                    <h3>hello || skills</h3>
                    <a href="login.html">logout</a>
                </div>
                <div class="header_left" id="menu_left">
                    <div class="categories">
                        <h1>game categories</h1>
                        <ul>
                            <li><a href="">free fire</a></li>
                            <li><a href="">call of duty</a></li>
                            <li><a href="">apex legends</a></li>
                            <li><a href="">forza horizon</a></li>
                            <li><a href="">gta 5</a></li>
                            <li><a href="">cod mobile</a></li>
                            <li><a href="">pub g</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header_right" id="menu_right">
                    <ul>
                        <li><a href="">home</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">contact us</a></li>
                        <li><a href="">news</a></li>
                        <li><a href="">tournaments</a></li>
                        <li><a href="">streaming</a></li>
                    </ul>
                </div>
            </header>

            <div class="first_page" id="top">
                <div class="first_page_header">
                    <h1>home</h1>
                </div>
                <div class="first_page_body">
                    <div class="text">
                        <div class="text_content">
                            <small>latest news</small>
                            <h1>Hogwarts Legacy</h1>
                            <p>PS5 vs Xbox Series X|S vs PC - Performance Review...</p>
                            <div class="read_more">
                                <a href="" id="show" onmousemove="Showmore4()" onmouseout="Show_more4()">See details</a>
                                <i class="fa fa-long-arrow-right showmore4" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <img src="/img/valorant.jpg" alt="">
                </div>
            </div> 
            
            <div class="second_paragraph">
                <div class="second_flex">
                    <select placeholder="Server">
                        <option value="">server</option>
                        <option value="">NA</option>
                        <option value="">Indonasia</option>
                        <option value="">SSA</option>
                        <option value="">Mnea</option>
                    </select>
                    <div>
                        <input type="checkbox">
                        <p>Instant Delivery </p>
                    </div>
                    <div>
                        <input type="checkbox">
                        <p>After Sale Protection </p>
                    </div>
                </div>
                    <input type="text" placeholder="search">
            </div>
                <div class="offer_tittle">
                        <h1>OFFER TITTLE</h1>
                    <ul>
                        <li>RATING</li>
                        <li>DELIVERY</li>
                        <li>PRICE</li>
                    </ul>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="offertitle_container">
                    <p><a href="">Log Google Play|Level 59|Diamond3 S28,Gold S14|46Characters|MP5-PlatinumDivinity L4,UMP-BooyahDay2021 L4|Amazing Items+Pets |11Times Elite|Safe&Legal</a></p>
                    <h3>Annasell Total orders: 453 Member since: 2020 5.0 (11)</h3>
                    <div class="delivery"></div>
                    <div class="price">
                        <h1>$115.00</h1>
                        <a href="">BUY NOW</a>
                    </div>
                </div>
                <div class="fifth_page">
                    <div class="top">
                        <div>
                            <h1>what is skills gaming Community</h1>
                            <p>Community Gaming's platform creates a seamless experience for tournament organizers to host grassroots tournaments and for gamers to compete and instantly get paid when they win. The platform facilitates automatic payments that are fast, transparent, and require no blockchain knowledge to use!</p>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="content">
                            <div class="image">
                                <i class="fa fa-plug" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>connect</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatem, fugit numquam nobis cupiditate ratione dolor magnam sequi quasi sed dolore doloribus facere! Optio error ipsa, dicta dolores laboriosam id.</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="image">
                                <i class="fa fa-television" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>gamers</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatem, fugit numquam nobis cupiditate ratione dolor magnam sequi quasi sed dolore doloribus facere! Optio error ipsa, dicta dolores laboriosam id.</p>
                            </div>
                        </div>
                        <div class="content">
                            <div class="image">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <h3>globally</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatem, fugit numquam nobis cupiditate ratione dolor magnam sequi quasi sed dolore doloribus facere! Optio error ipsa, dicta dolores laboriosam id.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sixth_page">
                    <h1>recently asked questions</h1>
                    <button class="accordion">How does Buff calculate my reward?</button>
                    <div class="panel">
                        <p>
                             Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                            calculates statistical probabilities, and generates the reward allocation accordingly. 
                            Essentially, the logic here is to have the rewards based on in-game achievements.
                            For example, the better your KDA ratio in League of Legends, 
                            the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                        </p>
                    </div>
                    <button class="accordion">How does Buff calculate my reward?</button>
                    <div class="panel">
                        <p>
                             Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                            calculates statistical probabilities, and generates the reward allocation accordingly. 
                            Essentially, the logic here is to have the rewards based on in-game achievements.
                            For example, the better your KDA ratio in League of Legends, 
                            the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                        </p>
                    </div>
                    <button class="accordion">How does Buff calculate my reward?</button>
                    <div class="panel">
                        <p>
                             Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                            calculates statistical probabilities, and generates the reward allocation accordingly. 
                            Essentially, the logic here is to have the rewards based on in-game achievements.
                            For example, the better your KDA ratio in League of Legends, 
                            the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                        </p>
                    </div>
                    <button class="accordion">How does Buff calculate my reward?</button>
                    <div class="panel">
                        <p>
                             Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                            calculates statistical probabilities, and generates the reward allocation accordingly. 
                            Essentially, the logic here is to have the rewards based on in-game achievements.
                            For example, the better your KDA ratio in League of Legends, 
                            the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                        </p>
                    </div>
                </div>
            <div class="seventh_page">
                <div class="content">
                    <div class="left">
                        <h1>need help with professional photography? let's work together!</h1>
                        <div class="contact">
                            <a href="{% url 'contact' %}">contact us</a>
                        </div>
                    </div>
                    <div class="right comment_slideshow">
                        <div class="comments">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quam reiciendis. Voluptatem deleniti eum a, eius minima laborum. Omnis dicta natus quibusdam provident voluptas praesentium a culpa minima commodi incidunt.</p>
                            <div>
                                <h2>
                                    skills anthony
                                    <br>
                                    skillsnwokolo@gmail.com
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight_page">
                <div class="signup_email">
                    <div>
                        <h1>Sign up to get latest update</h1>
                        <p>
                            Sign up for our monthly newsletter for the latest news & articles
                        </p>
                    </div>
                    <div class="email">
                        <form action="{% url 'base' %}" method="POST">
                            <input type="email" name="" id="">
                            <button type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer_content">
                    <div>
                        <h3>gaming Community</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, distinctio voluptatum similique vitae quas soluta tenetur et dolore. Obcaecati velit necessitatibus totam accusantium atque nam consequatur eveniet eaque mollitia. Vel?
                        </p>
                    </div>
                    <div class="padding">
                        <h3>quick links</h3>
                        <ul>
                            <li><a href="{% url 'about' %}">about us</a></li>
                            <li><a href="{% url 'services' %}">our services</a></li>
                            <li><a href="{% url 'booking' %}">booking</a></li>
                            <li><a href="{% url 'contact' %}">contact us</a></li>
                            <li><a href="{% url 'career' %}">career opportunities</a></li>
                        </ul>
                    </div>
                    <div class="padding contact">
                        <h3>contact</h3>
                        <ul>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:+2347065934632">+2347065934632</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:july1ststudio@gmail.com">july1ststudio@gmail.com</a> 
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                July First Studios. 6, Market road, Rumoumasi Junction Port Harcourt
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer_ending">
                    <p>Copyright © 2022 by july first studios. All rights reserved.</p>
                    <a href="#top">
                        <div class="back">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </footer>
        </div>
    </section>
    <script src="index.js"></script>
</body>
</html>
