<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Gaming_community/</title>
        <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
        
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();
        
              // Store hash
              var hash = this.hash;
        
              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 1000, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          }); 
        });
        </script>
    </head>
<body id="body">
    <section>
        <div class="header">
            <i class="fa fa-th-large" id="falarge" aria-hidden="true" onclick="Hamburger_menu_show()"></i>
            <i class="fa fa-times" id="fatimes" aria-hidden="true" onclick="Hamburger_menu_close()"></i>
            <div>
                <a href="">privacy policy</a>
            </div>
        </div>
        <div class="body">
            <header>
                <h1>Skillz Gaming Community</h1>
                <div class="search">
                    <input type="search" name="search" id="">
                    <input type="submit" value="search">
                </div>
                <div class="user_detail">
                    <h3>hello || skills</h3>
                    <a href="login.html">logout</a>
                </div>
                <div class="header_left" id="menu_left">
                    <div class="categories">
                        <h1>game categories</h1>
                        <ul>
                            <li><a href="">free fire</a></li>
                            <li><a href="">call of duty</a></li>
                            <li><a href="">apex legends</a></li>
                            <li><a href="">forza horizon</a></li>
                            <li><a href="">gta 5</a></li>
                            <li><a href="">cod mobile</a></li>
                            <li><a href="">pub g</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header_right" id="menu_right">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">contact us</a></li>
                        <li><a href="">news</a></li>
                        <li><a href="">tournaments</a></li>
                        <li><a href="">streaming</a></li>
                    </ul>
                </div>
            </header>
            <div class="tournament_first_page" id="top">
                <div class="first_page_header">
                    <h1>upcoming Tournaments</h1>
                    <ul>
                        <li><a href="">games</a></li>
                        <li><a href="#in_progress">in progress</a></li>
                        <li><a href="#completed">completed</a></li>
                        <li><a href="">tournament ranking</a></li>
                        <li><a href="tournamentpage.html">organize tournament</a></li>
                    </ul>
                </div>
                <div class="first_page_body">
                    <div class="text">
                        <div class="text_content">
                            <small>hosted by <span>skills gaming</span></small>
                            <h1> garena freefire </h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aliquid laborum dolore</p>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    mar 08, 11:00pm
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                            <div class="read_more">
                                <a href="" id="show" onmousemove="Showmore4()" onmouseout="Show_more4()">See details</a>
                                <i class="fa fa-long-arrow-right showmore4" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <img src="/img/call of duty.webp" alt="">
                </div>
                <div class="first_page_footer">
                    <div class="first_page_footer_content">
                        <div class="footer_flex lastest_news_flex">
                            <a href="">
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="img/Cyberpunk2077.jpg" alt="" srcset="">
                            </a>
                            <a href="">
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="img/csgo.jpg" alt="" srcset="">
                            </a>
                            <a href="">
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="img/spiderman.png" alt="" srcset="">
                            </a>
                            <a href="">
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="img/ForzaH5.jpg" alt="" srcset="">
                            </a>
                        </div>
                        <div class="footer_flex lastest_news_flex">
                            <a href="" >
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="/img/fortnight.jpg" alt="" srcset="">
                            </a>
                            <a href="">
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="/img/ff.jpeg" alt="" srcset="">
                            </a>
                            <a href="">
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="img/call of duty.webp" alt="" srcset="">
                            </a>
                            <a href="">
                                <div class="content">
                                    <h3>Hogwarts Legacy</h3>
                                    <div class="ending">
                                        <div class="left">
                                            mar 08, 11:00pm
                                        </div>
                                        <div class="right">
                                            10 usd
                                        </div>
                                    </div>
                                </div>
                                <img src="img/apex.jpg" alt="" srcset="">
                            </a>
                        </div>
                        <i class="fa fa-chevron-right" aria-hidden="true" onclick="Lastest_news(1)"></i>
                    </div>
                    <div class="ending">
                        <a href="upcoming_tournament.html">load more</a>
                    </div>
                </div>
            </div>
            <div class="tournament_second_page" id="in_progress">
                <div class="top">
                    <h1>In Progress Tournaments</h1>
                </div>
                <div class="main_content">
                    <i class="fa fa-chevron-left" aria-hidden="true" id="left-button"></i>
                    <div class="flex" id="tournament_progress">
                        <div class="tournament_container">
                            <div class="image">
                                <img src="/img/apex.jpg" alt="">
                            </div>
                            <div class="content">
                                <small>gar fire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left">
                                        <img src="/img/team skills.jpg" alt="">
                                    </div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                        <div class="tournament_container">
                            <div class="image">
                                <img src="/img/csgo.jpg" alt="">
                            </div>
                            <div class="content">
                                <small>2garena free fdfdfire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left">
                                        <img src="/img/team1.webp" alt="">
                                    </div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                        <div class="tournament_container">
                            <div class="image">
                                <img src="/img/ForzaH5.jpg" alt="">
                            </div>
                            <div class="content">
                                <small>3garena free fire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left">
                                        <img src="/img/team15.jpg" alt="">
                                    </div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                        <div class="tournament_container">
                            <div class="image">
                                <img src="/img/fortnight.jpg" alt="">
                            </div>
                            <div class="content">
                                <small>4garena free fire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left">
                                        <img src="/img/team2.jpg" alt="">
                                    </div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                        <div class="tournament_container">
                            <div class="image">
                                <img src="/img/call of duty.webp" alt="">
                            </div>
                            <div class="content">
                                <small>5garena free fire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left">
                                        <img src="/img/team2.webp" alt="">
                                    </div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                        <div class="tournament_container">
                            <div class="image">
                                <img src="/img/freefire.jpg" alt="">
                            </div>
                            <div class="content">
                                <small>garena free fire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left">
                                        <img src="/img/team3.webp" alt="">
                                    </div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                        <div class="tournament_container">
                            <div class="image">
                                <img src="img/dota.jpg" alt="">
                            </div>
                            <div class="content">
                                <small>6garena free fire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left"></div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                        <div class="tournament_container">
                            <div class="image">
                                <img src="/img/spiderman.png" alt="">
                            </div>
                            <div class="content">
                                <small>7garena free fire</small>
                                <h3>hydra solo free fire</h3>
                                <div class="host">
                                    <div class="left"></div>
                                    <div class="right">
                                        <h3> 
                                            hosted by <br>
                                            host name
                                        </h3>
                                    </div>
                                </div>
                                <div class="entry_type">
                                    <p>free entry</p>
                                </div>
                            </div>
                            <div class="ending">
                                <div class="left">
                                    <small>mar 08, 11:00pm</small>
                                </div>
                                <div class="right">
                                    10 usd
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-chevron-right" aria-hidden="true" id="right-button"></i>
                </div>
            </div>
            <div class="tournament_third_page" id="completed">
                <div class="top">
                    <h1>completed tournaments</h1>
                    <a href="">browse all</a>
                </div>
                <div class="flex">
                    <div class="tournament_container">
                        <div class="image">
                            <img src="/img/apex.jpg" alt="">
                        </div>
                        <div class="content">
                            <small>gar fire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left">
                                    <img src="/img/team skills.jpg" alt="">
                                </div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                    <div class="tournament_container">
                        <div class="image">
                            <img src="/img/csgo.jpg" alt="">
                        </div>
                        <div class="content">
                            <small>2garena free fdfdfire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left">
                                    <img src="/img/team1.webp" alt="">
                                </div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                    <div class="tournament_container">
                        <div class="image">
                            <img src="/img/ForzaH5.jpg" alt="">
                        </div>
                        <div class="content">
                            <small>3garena free fire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left">
                                    <img src="/img/team15.jpg" alt="">
                                </div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                    <div class="tournament_container">
                        <div class="image">
                            <img src="/img/fortnight.jpg" alt="">
                        </div>
                        <div class="content">
                            <small>4garena free fire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left">
                                    <img src="/img/team2.jpg" alt="">
                                </div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                    <div class="tournament_container">
                        <div class="image">
                            <img src="/img/call of duty.webp" alt="">
                        </div>
                        <div class="content">
                            <small>5garena free fire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left">
                                    <img src="/img/team2.webp" alt="">
                                </div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                    <div class="tournament_container">
                        <div class="image">
                            <img src="/img/freefire.jpg" alt="">
                        </div>
                        <div class="content">
                            <small>garena free fire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left">
                                    <img src="/img/team3.webp" alt="">
                                </div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                    <div class="tournament_container">
                        <div class="image">
                            <img src="img/dota.jpg" alt="">
                        </div>
                        <div class="content">
                            <small>6garena free fire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left"></div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                    <div class="tournament_container">
                        <div class="image">
                            <img src="/img/spiderman.png" alt="">
                        </div>
                        <div class="content">
                            <small>7garena free fire</small>
                            <h3>hydra solo free fire</h3>
                            <div class="host">
                                <div class="left"></div>
                                <div class="right">
                                    <h3> 
                                        hosted by <br>
                                        host name
                                    </h3>
                                </div>
                            </div>
                            <div class="entry_type">
                                <p>free entry</p>
                            </div>
                        </div>
                        <div class="ending">
                            <div class="left">
                                <small>mar 08, 11:00pm</small>
                            </div>
                            <div class="right">
                                10 usd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home_fourth_page">
                <div class="content">
                    <h1>Want to Create Your Own Tournament?</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iste omnis officia doloribus! Officia veniam nemo et consequatur quas! Id vel labore officia quisquam rerum exercitationem assumenda nulla aliquam molestiae?
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam necessitatibus ratione ab aliquam aspernatur autem quidem itaque dolorum alias. Non laborum qui blanditiis saepe illum ipsum fugiat, labore architecto nulla.
                    </p>
                    <div class="button">
                        <a href="">create an account</a>
                        <a href="">apply to be an organizer</a>
                    </div>
                </div>
            </div>
            <div class="home_sixth_page">
                <h1>recently asked questions</h1>
                <button class="accordion">How does Buff calculate my reward?</button>
                <div class="panel">
                    <p>
                         Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                        calculates statistical probabilities, and generates the reward allocation accordingly. 
                        Essentially, the logic here is to have the rewards based on in-game achievements.
                        For example, the better your KDA ratio in League of Legends, 
                        the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                    </p>
                </div>
                <button class="accordion">How does Buff calculate my reward?</button>
                <div class="panel">
                    <p>
                         Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                        calculates statistical probabilities, and generates the reward allocation accordingly. 
                        Essentially, the logic here is to have the rewards based on in-game achievements.
                        For example, the better your KDA ratio in League of Legends, 
                        the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                    </p>
                </div>
                <button class="accordion">How does Buff calculate my reward?</button>
                <div class="panel">
                    <p>
                         Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                        calculates statistical probabilities, and generates the reward allocation accordingly. 
                        Essentially, the logic here is to have the rewards based on in-game achievements.
                        For example, the better your KDA ratio in League of Legends, 
                        the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                    </p>
                </div>
                <button class="accordion">How does Buff calculate my reward?</button>
                <div class="panel">
                    <p>
                         Well, this is our secret sauce. We have our AI-based algorithm that collects data,
                        calculates statistical probabilities, and generates the reward allocation accordingly. 
                        Essentially, the logic here is to have the rewards based on in-game achievements.
                        For example, the better your KDA ratio in League of Legends, 
                        the more BUFF coins you will earn. On top of that, victories or defeats in team matches will influence your rewards.
                    </p>
                </div>
            </div>
            <div class="home_seventh_page">
                <div class="content">
                    <div class="left">
                        <h1>need help with professional photography? let's work together!</h1>
                        <div class="contact">
                            <a href="{% url 'contact' %}">contact us</a>
                        </div>
                    </div>
                    <div class="right comment_slideshow">
                        <div class="comments">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, quam reiciendis. Voluptatem deleniti eum a, eius minima laborum. Omnis dicta natus quibusdam provident voluptas praesentium a culpa minima commodi incidunt.</p>
                            <div>
                                <h2>
                                    skills anthony
                                    <br>
                                    skillsnwokolo@gmail.com
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home_eight_page">
                <div class="signup_email">
                    <div>
                        <h1>Sign up to get latest update</h1>
                        <p>
                            Sign up for our monthly newsletter for the latest news & articles
                        </p>
                    </div>
                    <div class="email">
                        <form action="{% url 'base' %}" method="POST">
                            <input type="email" name="" id="">
                            <button type="submit">submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer_content">
                    <div>
                        <h3>gaming Community</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, distinctio voluptatum similique vitae quas soluta tenetur et dolore. Obcaecati velit necessitatibus totam accusantium atque nam consequatur eveniet eaque mollitia. Vel?
                        </p>
                    </div>
                    <div class="padding">
                        <h3>quick links</h3>
                        <ul>
                            <li><a href="{% url 'about' %}">about us</a></li>
                            <li><a href="{% url 'services' %}">our services</a></li>
                            <li><a href="{% url 'booking' %}">booking</a></li>
                            <li><a href="{% url 'contact' %}">contact us</a></li>
                            <li><a href="{% url 'career' %}">career opportunities</a></li>
                        </ul>
                    </div>
                    <div class="padding contact">
                        <h3>contact</h3>
                        <ul>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:+2347065934632">+2347065934632</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:july1ststudio@gmail.com">july1ststudio@gmail.com</a> 
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                July First Studios. 6, Market road, Rumoumasi Junction Port Harcourt
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer_ending">
                    <p>Copyright © 2022 by july first studios. All rights reserved.</p>
                    <a href="#top">
                        <div class="back">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </footer>
        </div>
    </section>
    <script src="tournament_page.js"></script>
</body>
</html>